@using NetCafeUCN.MVC.Models.DTO;
@model GamingStationConsumableViewModel;

@{
    ViewData["Title"] = "Produkter";
}
<head>
    <link rel="stylesheet" href="~/css/TabStyle.css" />
    <link rel="stylesheet" href="~/css/DropdownStyle.css" />
</head>

<script src="~/js/TabScript.js" > </script>
<h1>Produkter</h1>

<div class="dropdown">
  <button class="dropbtn">Opret</button>
  <div class="dropdown-content">
    <a asp-action="Create" asp-controller="Gamingstation">Gamingstation</a>
    <a asp-action="Create" asp-controller="Consumable">Consumable</a>
  </div>
</div>

<div class="tab">
    <button class="tablinks btn btn-outline-primary btn-lg" id="defaultOpen" onclick="openTab(event,'GamingStation')">Computere</button>
    <button class="tablinks btn btn-outline-primary btn-lg" onclick="openTab(event,'Consumable')">Mad & drikke</button>
    
</div>

@if (Model.gamingStations != null)
{
    <div class="tabcontent" id="GamingStation">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produktnummer
                    </th>
                    <th>
                        Produkttype
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GamingStationDto item in Model.gamingStations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.ActionLink("Redigér", "Edit", "GamingStation", new { item.ProductNumber }, null) |
                            @Html.ActionLink("Oplysninger", "Details", "GamingStation", new { item.ProductNumber }, null) |
                            @Html.ActionLink("Slet", "Delete", "GamingStation", new { item.ProductNumber }, null)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
@if (Model.consumables != null)
{
    <div class="tabcontent" id="Consumable">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produktnummer
                    </th>
                    <th>
                        Produkttype
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ConsumableDto item in Model.consumables)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.ActionLink("Redigér", "Edit", "Consumable", new { item.ProductNumber }, null) |
                            @Html.ActionLink("Oplysninger", "Details", "Consumable", new { item.ProductNumber }, null) |
                            @Html.ActionLink("Slet", "Delete", "Consumable", new { item.ProductNumber }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    document.getElementById("defaultOpen").click();
</script>
