@using NetCafeUCN.MVC.Models.DTO;
@model CustomerEmployeeViewModel;

@{
    ViewData["Title"] = "Kunder";
}
<head>
    <link rel="stylesheet" href="~/css/TabStyle.css" />
    
</head>

<script src="~/js/TabScript.js"></script>
<h1>Kunder</h1>

<div class="tab">
    <button class="tablinks btn btn-primary btn-lg" id="defaultOpen" onclick="openTab(event,'Customer')">Kunder</button>
    <button class="tablinks btn btn-primary btn-lg" onclick="openTab(event,'Employee')">Medarbejdere</button>
</div>

<div class="tabcontent" id="Customer">
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Customer item in Model.customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div class="tabcontent" id="Employee">
    <table class="table">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                Adresse
            </th>
            <th>
                Zipcode
            </th>
            <th>
                City
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                PersonType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Employee item in Model.employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<script>
    document.getElementById("defaultOpen").click();
</script>


