@using System.Security.Claims;
@using NetCafeUCN.MVC.Models.DTO;
@model BookingGamingStationViewModel;

@section SeatBookingStyles {
    <link href="@Url.Content("~/css/SeatBooking.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Booking";
}

<script src="~/js/CreateBooking.js"></script>

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row" style="max-height: 400px">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label class="control-label">Telefon</label>
                    <input asp-for="PhoneNo" class="form-control" value="@Context.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.MobilePhone)?.Value" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Telefon</label>
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            }
           
            <div class="form-group">
                <label class="control-label">Start tid</label>
                <input asp-for="StartTime" required class="form-control" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" min="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="slider" style="margin-top: 5px;">
                    <input type="range" min="0.5" max="8" value="0.5" id="fader"
                           step="0.5" list="volsettings" oninput="rangeValue.innerText = this.value">
                    <datalist id="volsettings">
                        <option>30 min</option>
                        <option>1 time</option>
                        <option>1,5 time</option>
                        <option>2 timer</option>
                        <option>2,5 time</option>
                        <option>3 timer</option>
                        <option>3,5 time</option>
                        <option>4 timer</option>
                    </datalist>
                    <p style="margin: 0;">Antal valgte timer:</p>
                    <p id="rangeValue">0</p>
                </div>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg">
        <h4>Vælg din plads her</h4>
        @if (Model.gamingStations != null)
        {
            <div class="seats-container">
                <ol>
                    <li class="row">
                        <ol class="seats">
                            @foreach (GamingStationDto item in Model.gamingStations)
                            {
                                @if (item.Booked)
                                {
                                    <li class="seat">
                                        <input type="checkbox" disabled id="@item.SeatNumber" />
                                        <label class="seatLabel" for="@item.SeatNumber">@item.SeatNumber</label>
                                    </li>
                                }
                                else 
                                {
                                    <li class="seat">
                                        <input type="checkbox" id="@item.SeatNumber" />
                                        <label class="seatLabel" for="@item.SeatNumber">@item.SeatNumber</label>
                                    </li>
                                }
                            }
                        </ol>
                    </li>
                </ol>
            </div>
        } else
        {
            <p>Ingen gamingstations tilgængelige</p>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
