@model NetCafeUCN.MVC.Models.BookingDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet booking</h1>

<h3>Vil du slette denne booking?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.BookingNo)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Bookingnummer:</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingNo)
        </dd>
        <dt class = "col-sm-2">
            <label>Starttid:</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            <label>Sluttid:</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            <label>Telefonnummer:</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <input asp-for="BookingNo" type="hidden" />
        <input asp-for="PhoneNo" type="hidden" />
        <a asp-action="Index">Tilbage</a>
    </form>
</div>
